# Example environment variables for chileneumaticos-webscraping-api

# Database
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=apiuser
MYSQL_PASSWORD=apipassword
MYSQL_DB=chileneumaticos

# App
PROJECT_NAME=chileneumaticos-api
SECRET_KEY=please_change_me
ACCESS_TOKEN_EXPIRE_MINUTES=60
ENVIRONMENT=development

# Redis (optional)
REDIS_HOST=redis
REDIS_PORT=6379
